<% layout('layouts/boilerplate')%>

<a href="/farmer" class="btn btn-success mr-3 mb-3">&#x2B9C; Back</a>

<h1 class="text-center">Your Jobs</h1>

<a href="/farmer/jobs/new" class="btn btn-primary mr-3 mb-3">Create Job</a>

<div class="row" style="padding-bottom: 10vh">
  <% for (let job of jobs){%>
  <div class="col-md-3 col-sm-6">
    <div class="card card-job border shadow mb-3" style="border-radius: 15px;">
      <a
        href="/farmer/jobs/<%=job._id%>"
        class="text-decoration-none text-dark"
      >
      <div class="card-body rounded-2" style="min-height: 50vh;">
        <h5 class="card-title"><%= job.name.substr(0,30) %></h5>

        <p class="card-text"><%= job.description.substr(0,80) %> ...</p>

        <% let skills = job.skills.split(",").slice(0,-1); %> <%for (let skill
        of skills) { %>
        <p class="btn btn-warning border"><b><%= skill %></b></p>

        <% } %>
        <p class="btn btn-info"><%= job.gender %></p>

        <div class="d-flex flex-row">
          <h4 class="card-text mr-5">
            <span class="notranslate">&#8377;</span><%= job.wage %>/day
          </h4>

          <h6 class="card-text mr-3"><%= job.quantity %> remaining</h6>

        </div>
        
        <div class="d-flex ">
            <img src = "/Asset/location-small.png" class = "" alt = "Rounded Image" width = "30" height = "30">
             <h5 class=" ml-3"><%= job.city%></h5>

        </div>
                

        
          
        
      </div>
    </a>
    </div>
  </div>

  <% }%>
</div>
