<% layout('layouts/boilerplate')%>
<div class="row" style="padding-bottom: 10vh">
  <h1 class="text-center">Order Details</h1>
  <div class="col-md-6 offset-md-3">
    <div
      class="card mb-3 border card-body"
      style="border-radius: 20px"
    >
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h6><%= product.name%></h6>
        </li>
        <li class="list-group-item ">
          <h4><span>&#8377;</span><%= product.price%></h4>
        </li>
        <!--Below quantity printed but hidden just for calculateProductTotal function to get the quantity from here -->
        <p hidden id="quantityId"><%= product.quantity %></p>
        <!--Below price printed but hidden just for calculateProductTotal function to get the price from here -->
        <p hidden id="priceId"><%= product.price %></p>
        <li class="list-group-item ">
          <b>Quantity Available - </b><%= product.quantity%>
        </li>
        <li class="list-group-item ">
          Please Enter Quantity less than available
        </li>
      </ul>
    </div>

    <form
      action="/farmer/products/<%= product._id %>/order"
      method="POST"
      class="validated-form"
      novalidate
    >
      <div class="mb-3">
        <label class="form-label" for="quantity">Quantity </label
        ><!-- calculateProductTotal Function in public/javascript/functions  -->
        <input
          class="form-control"
          type="number"
          id="quantity"
          name="order[quantity]"
          oninput="calculateProductTotal();"
          max="<%= product.quantity %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <!--Below total will be updated by the calculateProductTotal Function  -->
      <h4 id="total" class="text-success">Total Cost -</h4>
      <hr />

      <h4>Please Provide the Delivery Address</h4>

      <div class="mb-3">
        <label class="form-label" for="street">Address </label>
        <input
          class="form-control"
          type="text"
          id="street"
          name="order[address]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="landmark">City </label>
        <input
          class="form-control"
          type="text"
          id="landmark"
          name="order[city]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="pincode">Pincode </label>
        <input
          class="form-control"
          type="number"
          id="pincode"
          name="order[pincode]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="city">Country </label>
        <input
          class="form-control"
          type="text"
          id="city"
          name="order[country]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="contact">Contact </label>
        <input
          class="form-control"
          type="number"
          id="contact"
          name="order[contact]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="payment">Payment Mode </label>
        <select class="form-control" name="order[payment]" id="payment">
          <option value="cash">Cash on Delivery</option>
          <option value="paytm">PayTm</option>
        </select>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3 text-center">
        <button class="btn btn-success">Place Order</button>
      </div>
    </form>
  </div>
</div>
