<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">

<a href="/farmer/orders" class = "btn btn-success mr-3 mb-3 ">&#x2B9C; Back</a>

<div class="row">
    <div class="col-md-5">
        <div id="campgroundCarousel" class="carousel slide carousel-fade " data-ride="carousel">
            <div class="carousel-inner border shadow grey-light" style="border-radius: 20px 20px 0px 0px;">
                <% order.product.images.forEach((img, i) => {  %>
                <div class="carousel-item product-img <%= i === 0 ? 'active' : ''%>">
                    <img src="<%= img.url%>" class="d-block mx-auto" alt="" style="max-width: 100%;">
                </div>
                <% }) %>

            </div>
            <% if(order.product.images.length > 1) {%>
            <a class="carousel-control-prev" href="#campgroundCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#campgroundCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <% } %>
        </div>

        <div class="card mb-3">
            <div class="card-body grey-light grey-dark border  shadow" style="border-radius: 0px 0px 20px 20px ;">
                <h5 class="card-title"><%= order.product.name%></h5>
                <div style=" max-height: 40vh;overflow-y: scroll;">
                    <p class="card-text"><%= order.product.description%></p>
                </div>
            </div>
            
          
        </div>

    </div>
    <div class="col-md-6">
        
        <ul class="list-group list-group-flush border  shadow" style="border-radius: 20px 20px 20px 20px;">
            <li class="list-group-item "><b>Buyed Quantity - </b><%= order.quantity%></li>
            <li class="list-group-item"><h4><b><span>&#8377;</span><%= order.product.price%></b></h4></li>
            <li class="list-group-item "><b>Total Cost - </b><span>&#8377;</span><%= order.quantity * order.product.price%></li>

            <li class="list-group-item  border-0"><h5>Supplier</h5></li>

            <div class="list-group-item d-flex">
                    <img src = "/Asset/user-icon.png" class = "rounded-circle ml-0" alt = "Rounded Image" width = "50" height = "50">
                    <div class="flex">
                        <h5 class="card-title ml-md-3 mt-2"><%= order.supplier.username%></h5>
                        <h6 class="">&#x1F4DE;<%= order.supplier.contact%></h6s>
                    </div>
                    
            </div>

            <div class="list-group-item d-flex border-0">
                <div class="mr-3">
                    <img src = "/Asset/location.png" class = "rounded-circle " alt = "Rounded Image" width = "40" height = "40">
                </div>
                <div>
                    <h5 class="" >Delivery Address</h5>
                </div>
            </div>
            
            <li class="list-group-item"><b>Address - </b><%= order.address%></li>
            <li class="list-group-item"><b>City/Village - </b><%= order.city%></li>
            <li class="list-group-item"><b>Pincode - </b><%= order.pincode%></li>
            <li class="list-group-item"><b>Country - </b><%= order.country%></li>
            <li class="list-group-item text-success "><b>Payment Mode - </b><%= order.payment.toUpperCase()%></li>
            <% if(order.status === "out for delivery") { %>
                <li class="list-group-item text-success grey-light"><b>Your Order is Out for Delivery</b></li>
            <% } else if(order.status === "not out for delivery"){ %>
                <li class="list-group-item text-primary grey-light"><b>Your Order is not yet Out for Delivery</b></li>
            <% } else if(order.status === "cancelled by supplier"){ %>
                <li class="list-group-item text-danger grey-light"><b>Your Order has been cancelled by Seller. Contact Seller for more details. </b></li>
            <% } %>


            <div class="list-group-item d-flex flex-row">
                <% if(order.status === "not out for delivery") { %>
        
                    <form action="/farmer/orders/<%= order._id %>/cancel" method="POST" class="validated-form" novalidate>  
                        <div class="mb-3">
                            <button class="btn btn-danger">Cancel Order</button>
                        </div>
                    </form>
            
                    <% } %>
             </div>
        
            
        </ul>
        
          
    </div>
</div>