<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/stars.css">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.0/mapbox-gl.js"></script>

<a href="/worker/jobs" class = "btn btn-success mr-3 mb-3 ">&#x2B9C; Back</a>

<div class="row">
    <div class="col-md-6">
        
        <div class="card mb-3 border-0 shadow mb-3 " style="border-radius: 20px;">
            <div class="card-body">
                <h5 class="card-title"><%= job.name%></h5>
                <p class="card-text"><%= job.description%></p>
                <h4 class=""><b><%= job.city%></b></h4>
                
                
                <% let skills = job.skills.split(",").slice(0,-1); %>

                <%for (let skill of skills) { %>
                    <p class = "btn btn-warning"><b><%= skill %></b></p>

                <% } %> 
               

                
            </div>
            
            
            
        </div>

        <div id='map' class = "mb-3 shadow"></div>

    </div>
    <div class="col-md-6">
        <div class="card mb-3 card-body border shadow" style="border-radius: 20px 20px 20px 20px ;">
        <ul class="list-group list-group-flush border-0" background-color: #f1f3f1;">
            <li class="list-group-item "><b>Available positions - </b><%= job.quantity%></li>
            <li class="list-group-item "><h4><b><span>&#8377;</span><%= job.wage%> / day</b></h4></li>
            
            <li class="list-group-item  border-0"><h5>Farm Owner</h5></li>
            <div class="list-group-item d-flex">
                <img src = "/Asset/user-icon.png" class = "rounded-circle ml-0" alt = "Rounded Image" width = "50" height = "50">
                <div class="flex">
                    <h6 class="" ><%= job.farmer.username%><span class="ml-5"><b>&#10004; Verified Farmer</span></b></h6>
                    <h6 class="">&#x1F4DE;<%= job.farmer.contact%></h6s>
                </div>
                
        </div>

        <li class="list-group-item border-0"><h5>Farm Address</h5></li>

        <div class="list-group-item d-flex">
            <div class="mr-3">
            <img src = "/Asset/location.png" 
            class = "rounded-circle " alt = "Rounded Image" width = "60" height = "60">
            </div>
            <div>
                <h6 class="" ><%= job.address%></h6>
                <h6 class=""><%= job.city%></h6>
            </div>
        </div>
        
        
                
                <% if(status === "applied") {%>
                    <li class="list-group-item text-success grey-light border-0" style="border-radius:20px 20px 20px 20px;"><b>You have already applied for the Work</b></li>
                <% } else if(status === "not applied"){%>
                <form action="/worker/jobs/<%= job._id %>" method="POST">
                     <button class=" btn btn-success btn-block rounded-pill" >Apply Now</button>
                </form>
                <% } else if(status === "accepted"){%>
                    <li class="list-group-item text-success grey-light border-0" style="border-radius:0px 0px 20px 20px;"><b>Your application is accepted.Contact Farm Owner for further details</b></li>
                 <% } else if(status === "declined"){%>
                    <li class="list-group-item text-danger grey-light border-0" style="border-radius:0px 0px 20px 20px;"><b>Your application has been declined</b></li>
                <% } %>
            

        
        </ul>
    </div>
        
        
    
    
</div>


<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const product = <%- JSON.stringify(job) %>
</script>



<script src="/javascripts/showMap.js"></script>